/** Content **/
body {
	background-color: #C1C6C8;
}
.grid-container {
	margin: 0 2% 0 4%; 
	display: grid;
	grid-template-columns: 10% 30% 10% 32%;
	grid-column-gap: 1%;
	grid-template-rows: repeat(9,100px);
	grid-row-gap: 5px;
}
.maintext {
	padding-right: 10%;
	font-size: 22px;
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 5;
}
img {
	width: 100%;
	height: auto;
	grid-column-start: 1;
	grid-column-end: 3;
}
.tophead {
	font-size: 33px;
	font-family: 'Manrope Medium', Helvetica, Arial, sans-serif;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}
.captiontext {
	font-size: 16px;
	font-family: 'Manrope Medium', Helvetica, Arial, sans-serif;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 8;
	grid-row-end: 9;
}

.maintext {
	font-family: "Manrope Medium", Helvetica, Arial, sans-serif;
}

hr {
	border: 1px solid black;
}

@font-face {
font-family: "Space Grotesk Medium";
	src: url('webfont/SpaceGrotesk-Medium.woff2') format('woff2'), 
		 url('webfont/SpaceGrotesk-Medium.woff') format('woff');
}

@font-face {
font-family: "Manrope Medium";
	src: url('webfont/manrope-medium.woff2') format('woff2'), 
		 url('webfont/manrope-medium.woff') format('woff');
}

@media (max-width:800px) {
.tophead {
	grid-column-start: 1;
	grid-column-end: 5;	
	grid-row-start: 1;
	grid-row-end: 3;
}
img { 
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 5;	
	grid-row-start: 6;
	grid-row-end: 8;
}
.maintext {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
}
.captiontext {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 9;
	grid-row-end: 10;
}
}
@media only screen and (width : 375px) and (height : 635px) and (orientation : portrait) {
.tophead {
	grid-column-start: 1;
	grid-column-end: 5;	
	grid-row-start: 1;
	grid-row-end: 3;
}
img { 
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 5;	
	grid-row-start: 5;
	grid-row-end: 7;
}
.maintext {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
}
.captiontext {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 11;
	grid-row-end: 12;
}
}